{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><strong>Hello World!</strong></p>
        <p><img alt="" src="https://i.ibb.co/1q2zT58/image.png" style="height:340px; width:340px" /></p>

        <p>Kamoliddin is here. My primary residence is in Fergana. Studying at the &quot;Kasb-hunar maktabi&quot; as a 1st-year student. Aiming to spread across the benevolence, making the world a so-called better place. Obsessive about nearly everything associated with computer science. One of my greatest <strong>failures</strong>: lost in the pre-republican Olympiad from Computer Science)). Didn&#39;t have any emotions tho, kept pushing. One of the greatest <strong>victories</strong>: tamed myself and successfully turned the discplined mode on.&nbsp;</p>

        <p><em>Devoted Muslim.</em></p>

        <p><em>Son, friend, brother.</em></p>

        <p><strong>Standardized test score:</strong></p>

        <ul>
          <li>IELTS - 8 (L9 R7.5 W6.5 S 8.5)</li>
          <li>SAT - coming soon</li>
          <li>That is it for now</li>
        </ul>

        <p><strong>Honors:</strong></p>

        <ul>
          <li>Winner of the Hackathon iTeens 2022</li>
          <li>3rd place in republican Taekwondo competition</li>
          <li>Nothing that special, still seeking more opportunities and delving deeper into the computer science</li>
        </ul>

        <p><strong>Favorite reads:</strong></p>

        <ul>
          <li>Elon Musk by Ashlee Vance</li>
          <li>Meditations of Marcus Aurelius</li>
          <li>On the Shortness of Life by Seneca</li>
          <li>1984 by&nbsp;Eric Arthur Blair (aka George Orwell)</li>
          <li>Homo Deus by Yuval Noah Harrari</li>
          <li>Thousand Splendid Suns</li>
        </ul>

        <p><strong>Opponent </strong>of different cults, movements, and sexist or racist groups or people with that disposition.</p>

        <p><strong>Exponent </strong>of space exploration, AI development, Philosophical thinking, humanitarianism (lil unorthodoxy tho), Islam.</p>

        <p>&nbsp;</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}